<div ng-cloak>
    <div>
        <h2>Spaces</h2>
        <toaster-container toaster-options="{'time-out': 2000, 'close-button':true, 'position-class': 'toast-bottom-right'}"></toaster-container>
        <div class="container-fluid">
        </div>
        <br/>
        <div class="table-responsive">
            <table class="jh-table table table-striped">
                <thead>
                </thead>
                <tbody>
                <tr ng-repeat="spaceDTO in spaces">
                    <td><a ui-sref="space.detail({id:spaceDTO.space.id})">{{spaceDTO.space.id}}</a></td>
                    <td>{{spaceDTO.space.name}}</td>
                    <td>{{spaceDTO.space.description}}</td>
                    <td>{{spaceDTO.space.price}}</td>
                    <td>{{spaceDTO.space.personMax}}</td>
                    <td>
                        <a ui-sref="location.detail({id:spaceDTO.space.location.id})">{{spaceDTO.space.location.id}}</a>
                    </td>
                    <td>
                        {{spaceDTO.space.user.email}}
                    </td>
                    <td class="text-right">
                        <button ng-click="like(spaceDTO.space.id)" class="btn btn-info" aria-label="More">
                            <i ng-class="{true: 'fav2', false: 'fav'}[spaceDTO.liked == false]" class="glyphicon glyphicon-heart"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <style>
            .fav{
                color: red;
            }
        </style>
        <div class="text-center">
            <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
        </div>
    </div>
    <div>
        <ng-map zoom-to-include-markers="auto">
            <marker ng-repeat="spaceDTO in spaces"
                    position="[{{spaceDTO.space.location.lat}},{{spaceDTO.space.location.lng}}]"
                    data="{{data[$index]}}"
                    on-click="showData()";
                    title="pos: {{p.pos}}"></marker>
        </ng-map>
    </div>
</div>
