<div ng-cloak>
    <div>
        <h2>Spaces</h2>
        <jh-alert></jh-alert>
        <div class="container-fluid">
        </div>
        <br/>
        <div class="table-responsive">
            <table class="jh-table table table-striped">
                <thead>
                </thead>
                <tbody>
                <tr ng-repeat="space in spaces track by space.id">
                    <td><a ui-sref="space.detail({id:space.id})">{{space.id}}</a></td>
                    <td>{{space.name}}</td>
                    <td>{{space.description}}</td>
                    <td>{{space.price}}</td>
                    <td>{{space.personMax}}</td>
                    <td>
                        <a ui-sref="location.detail({id:space.location.id})">{{space.location.id}}</a>
                    </td>
                    <td>
                        {{space.user.email}}
                    </td>
                    <td class="text-right">
                        <button ng-click="like(space.id)" class="btn btn-info" aria-label="More">
                            Like
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center">
            <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
        </div>
    </div>

</div>
